<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vulnerability Scanner</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

<form action = "/dnsresult" method = "POST">
 <h3>Vulnerability Scanner</h3>
 Please Enter the URL<br>
 <input type = "text" name = "url" /></br>
 <br>
    <input type = "submit" value = "submit" /><br>
</form>
</body>

</html>
