<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vulnerability Scanner</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

<h3>Please choose the tool you want to use</h3>

<br><br>
<a href ="/nmap">NMAP</a>
<br><br>
<a href = "/whois">WHOIS</a>
<br><br>
<a href = "/nikito">NIKITO</a>
<br><br>
<a href = "/dns">DNS resolver</a>
<br><br>

<a href = "/wig">Web Information gathering</a>
<br><br>
</body>

</html>
